*{
    margin:0;
    padding:0;bod
}
body{
    background-color: black;
    color:white;
    margin:30px;
}
.column{
    display:inline-block;
    width:33%;
}
input{
    display:block;
    margin:10px 0;
    border:1px solid white;
    color:white;
    height:25px;
    width:90%;
    background-color: black;
}
h1{
    margin-bottom: 40px;
}
button{
    display:block;
    margin:20px 0;
    width:100px;
    height: 35px;
    font-size: 20px;
}
.error{
    color:red;
    margin:10px 0;
}
.success{
    color:green;
    margin:10px 0;
}
.add{
    margin:15px 0;
}
.start{
    opacity:70%;
}
